/* ================MODAL STYLES================ */

.modal-close-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.feedback-form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.feedback-form-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-input:focus + .feedback-form-input-icon {
  fill: #4d5ae5;
}

.feedback-form-comment {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.feedback-form-submit-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-submit-btn:hover,
.feedback-form-submit-btn:focus {
  background-color: #404bbf;
}

/* ================/MODAL STYLES================ */
