/* ================COMMON STYLES================ */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ================/COMMON STYLES================ */

/* ================HEADER STYLES================ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-list,
  .contacts {
    display: none;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.studio-link {
    position: relative;
    color: #404bbf;
  }

  .nav-link.studio-link::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
  }

  .contacts {
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ================/HEADER STYLES================ */

/* ================MOBILE MENU================ */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  padding: 0;
  line-height: 0;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-studio-link {
  color: #404bbf;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-link.phone-number {
  color: #4d5ae5;
}

.mobile-menu-icons-line {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 40px;
}

.mobile-menu-icons-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;

  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link-icon:hover,
.mobile-menu-link-icon:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ================/MOBILE MENU================ */

/* ================HERO STYLES================ */

.hero-section {
  display: flex;
  justify-content: center;

  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile-people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  max-width: 320;
  min-height: 432;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-people-office@2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 216px;
  margin-bottom: 72px;
}

.cta-button {
  display: block;
  min-width: 169;
  height: 56px;

  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-button:hover,
.cta-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-people-office.jpg");
  }

  .main-title {
    max-width: 496px;
    min-width: 120px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-people-office@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop-people-office.jpg");
  }

  .main-title {
    margin-bottom: 48px;
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-people-office@2x.jpg);
    }
  }
}

/* ================/HERO STYLES================ */

/* ================SERVICES STYLES================ */

@media screen and (max-width: 1158px) {
  .services-icon {
    display: none;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.services-item {
  width: 100%;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.services-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .services-item {
    width: calc((100% - 24px) / 2);
  }

  .services-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .services-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .services-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .services-list {
    gap: 24px;
  }

  .services-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .services-text {
    font-weight: 400;
  }
}

/* ================/SERVICES STYLES================ */

/* ================TEAM STYLES================ */

.team-section {
  background-color: #f4f4fd;
}

.team-section .section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-content {
  padding: 32px 0;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icons-line {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 24px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

/* ================/TEAM STYLES================ */

/* ================PORTFOLIO STYLES================ */

.portfolio-section .section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1157px) {
  .portfolio-overlay {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-photo {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-photo {
    width: 360px;
  }

  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #4d5ae5;
    overflow: auto;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .portfolio-item:hover .portfolio-overlay,
  .portfolio-item:focus .portfolio-overlay {
    transform: translateY(0%);
  }
}

/* ================/PORTFOLIO STYLES================ */

/* ================FOOTER STYLES================ */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 72px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  max-width: 288px;

  text-align: left;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-links-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link-icon {
  fill: #f4f4fd;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.3;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding: 0 16px;
  outline: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  outline: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: left;
    text-align: left;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-social-text {
    margin-top: 0;
  }

  .footer-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-link:hover,
  .footer-link:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-text {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-btn {
    margin-top: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-form-btn:hover,
  .footer-form-btn:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    flex-wrap: nowrap;
    padding-left: 15px;
  }

  .footer-content {
    margin-right: auto;
  }

  .footer-subscribe {
    margin-left: auto;
  }

  .footer-form-input {
    opacity: 1;
  }

  .footer-form-input::placeholder {
    opacity: 1;
  }
}

/* ================/FOOTER STYLES================ */

/* ================MODAL STYLES================ */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 72px 16px 24px;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.feedback-form-field-wrapper {
  margin-bottom: 8px;
}

.feedback-form-field-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.feedback-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 38px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
}

.feedback-form-input-wrapper {
  position: relative;
}

.feedback-form-input-icon {
  position: absolute;
  color: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.feedback-form-comment-wrapper {
  margin-bottom: 16px;
}

.feedback-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.feedback-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.feedback-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.feedback-form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.feedback-form-policy-link {
  line-height: 1.3;
  text-decoration: underline;
  color: #4d5ae5;
}

.feedback-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-checkbox:checked
  + .feedback-form-checkbox-label
  > .feedback-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.feedback-form-checkbox:focus
  + .feedback-form-checkbox-label
  > .feedback-form-custom-checkbox {
  border-color: #4d5ae5;
}

.feedback-form-submit-btn {
  display: block;

  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 0 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  margin: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }

  .modal-close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
  }

  .feedback-form-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feedback-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
  }

  .feedback-form-input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feedback-form-input:focus + .feedback-form-input-icon {
    fill: #4d5ae5;
  }

  .feedback-form-comment {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feedback-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
  }

  .feedback-form-submit-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .feedback-form-submit-btn:hover,
  .feedback-form-submit-btn:focus {
    background-color: #404bbf;
  }
}

/* ================/MODAL STYLES================ */
